<div class="card">
  <div class="card-header blog-card-header">
    <p class="card-text blog-card-text"><a href="/api/blogs/{{id}}" class="blog-title">{{blog_title}} </a></p>
    <p class="card-text blog-card-text">Posted by {{bloguser.name}} on {{format_date bloguser.createdAt}}</p>
  </div>
  <div class="card-body">    
    <p class="card-text blog-card-text">{{blog_content}}</p>   
  </div>
</div>